body {
    background-color: #f3f3f3;
    font-family: 'Bebas Neue', cursive;
}

.notification {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    transition: .4s;
}

.notification:hover {
    background: #fff;
    color: #17a2b8;
    border: 1px solid transparent;
    text-decoration: none;
}

.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 100px;
    background-color: #fff;
    color: #17a2b8;

}

.notification:hover .badge {
    text-decoration-line: none;
    outline: none;
    background-color: #17a2b8;
    color: #fff;
    border: 1px solid #fff;
}

.carte {
    background-color: #ffffff;
    color: #000000;
    border-radius: 16px;
    height: 17em;
    width: 14em;
    box-shadow: 3px 2px 34px -1px #00000056;
    overflow: hidden;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 3px solid #17a2b8;
}

.carte:hover {

    box-shadow: 15px 15px 27px #cfcfcf, -15px -15px 27px #ffffff;
    -webkit-box-shadow: 15px 15px 27px #cfcfcf, -15px -15px 27px #ffffff;
    border: 1px solid #17a2b8;
    background-color: #ffffff;


}

.carte:hover .des-text {
    background-color: #fff;
    height: 17em;
    width: 13em;
    font-size: 15px;
    position: absolute;
    left: 0.5em;
    bottom: 0em;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    text-align: center;
    opacity: 1;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: none;
    color: #17a2b8;
}

.carte:hover #img2,
.carte:hover .banner {
    opacity: 0.5;
}

.banner {
    height: 212px;
    position: relative;
    transition: .4s;
}

#img2 {
    border: none;
    width: 100%;
    height: 220px;
    transition: all .4s;
    float: left;
    position: relative;
    z-index: 0;
    border-radius: 0;

}

.des-text {
    height: 0em;
    padding: 0px 1em;
    opacity: 0;
}

.btn-envoie {
    color: #17a2b8;
    background-color: #ffffff;

}

.btn-envoie:hover {
    background-color: #17a2b8;
    color: #ffffff;
}


.alert_error {
    width: 225px;
    position: absolute;
    right: 3px;
    top: 63px;
    text-align: center;
    background-color: #f44336;
    box-shadow: 3px 2px 34px -1px #00000056;
    color: white;
    border-radius: 10px;
    animation: fadeOut 3s linear forwards;
    z-index: 1;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
        transform: translateY(0px);
    }

    99% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 0;
    }
}


.alert_success {
    width: 225px;
    position: absolute;
    left: 3px;
    top: 63px;
    text-align: center;
    background-color: #10b310;
    box-shadow: 3px 2px 34px -1px #00000056;
    color: white;
    border-radius: 10px;
    animation: fadeOut 3s linear forwards;
    z-index: 1;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
        transform: translateY(0px);
    }

    99% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 0;
    }
}

.link-navi {
    color: #137381;

}

.link-navi:hover {
    color: #19aec5;

}

.link-navi:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #19aec5;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s;
}

.link-navi:hover:after {
    transform: scaleX(1);
}

.link-home {
    color: #ffffffa4;
    text-decoration: none;

}

.link-home:hover {
    color: #ffffff;
    text-decoration: none;
    text-shadow: #fff 1px 0 10px;
}

.body-table {
    background-color: #fff;
    text-align: left;
}

.img-panier {
    height: 75px;
    width: 75px;
}

.m-p-btn {
    background-color: #ffffff;
    color: #17a2b8;
    border-radius: 10px;
    padding: 2px;
    border: none;
    box-shadow: 0px 2px 9px -2px #000000;

}

.m-p-btn:hover {
    box-shadow: 0px 2px 9px -5px #000000ab inset;
    text-decoration: none;
}

.m-p-btn:focus {
    outline: none;
}

.ajout-link {
    color: #17a2b8;
    text-decoration: none;
}

.btn-envoie:hover .ajout-link {
    color: #fff;
    text-decoration: none;
}

.btn-command {
    background: #137381;
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    padding: 15xp;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    position: relative;

}

.btn-command .icon_arrow {

    font-size: 17px;
    position: absolute;
    left: 80%;
    top: 0;
    right: 5%;
    bottom: 0;
    opacity: 0;
}

.btn-command:hover {
    background: #17a2b8;
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 0px 6px 15px #11b8d1;
    padding-right: 1.5rem;
}

.btn-command:hover .icon_arrow {
    opacity: 1;
    transition: all 0.5s;
}