{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}

{% block body %}
{% for article in articles %}
        <li>Id :{{article.idarticle}}</br>Libellé :{{article.nomarticle}}</li>
    {% endfor %}
{% endblock %}
