<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="../fontawesome-free-5.13.0-web/css/all.min.css">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        {% endblock %}
         <style>
        .notification {
            background-color: transparent;
            border:1px solid #fff;
            border-radius:8px;
            color: white;
            text-decoration: none;
            padding: 10px 20px;
            position: relative;
            display: inline-block;
            border-radius: 2px;
            transition: .4s;
            }
            .notification:hover {
                background: #fff;
                color:#17a2b8;
                border: 1px solid transparent;
                }

        .notification .badge {
                position: absolute;
                top: -10px;
                right: -10px;
                padding: 5px 10px;
                border-radius: 100px;
                background-color: #fff;
                color: #17a2b8;
                
                }
                .notification:hover .badge
                {
                    text-decoration-line: none;
                    outline:none;
                    background-color: #17a2b8;
                    color:#fff;
                    border:1px solid #fff;
                }
                        </style>
    </head>
    <body>
        {% block body %}
       
         {% block header %}
          <nav class="navbar navbar-expand-lg navbar-light bg-info text-white">
            <h3 class="col-2">LineshoP</h3>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <label>The best online store, for real<span class="sr-only">(current)</span></label>
                </li>
                
                </ul>
                {% if app.user %}
            <div class="col-2">
                            <a class="notification" type="button">
                            <span><i class="ri-shopping-cart-line"></i>
                            </span>
                            <span class="badge">1</span>
                            </a>

            </div>               
                            <a href="{{ path('app_logout') }}"><button class="btn btn-sm btn-outline-light" type="submit">
                            Déconnnexion
                        </button></a>
                        
                {% else %}
                        <a href="{{ path('app_login') }}">
                        <button class="btn btn-sm btn-outline-light" type="submit">
                            Connexion
                        </button></a>
                {% endif %}
            </div>
            </nav>
         {% endblock %}
        {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
